[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=phonehook
Exec=phonehook
Name=phonehook
# translation example:
# your app name in German locale (de)
Name[de]=phonehook

